<div class="row">
  <div class="col-md-6">
    <h3>Día 1</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td>Registro</td> </tr>
      <tr> <td>09:00</td>  <td>Automatización de tareas con la terminal de Unix</td> </tr>
      <tr> <td>10:30</td>  <td>Café</td> </tr>
      <tr> <td>11:00</td>  <td>Automatización de tareas con la terminal de Unix (Continuación)</td> </tr>
      <tr> <td>12:00</td>  <td>Almuerzo</td> </tr>
      <tr> <td>13:00</td>  <td>Introducción al desarrollo con Python</td> </tr>
      <tr> <td>14:30</td>  <td>Café</td> </tr>
      <tr> <td>15:00</td>  <td>Introducción al desarrollo con Python</td> </tr>
      <tr> <td>16:00</td>  <td>Cierre</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Día 2</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td>Registro</td> </tr>
      <tr> <td>09:00</td>  <td>Control de Versiones con GIT</td> </tr>
      <tr> <td>10:30</td>  <td>Café</td> </tr>
      <tr> <td>11:00</td>  <td>Control de Versiones con GIT (Continuación)</td> </tr>
      <tr> <td>12:00</td>  <td>Almuerzo</td> </tr>
      <tr> <td>13:00</td>  <td>Python para computación cientifica</td> </tr>
      <tr> <td>14:30</td>  <td>Café</td> </tr>
      <tr> <td>15:00</td>  <td>Python para computación cientifica</td> </tr>
      <tr> <td>16:00</td>  <td>Cierre</td> </tr>

    </table>
  </div>
</div>
