<div class="row">
  
  <div class="col-md-4">

    <h3 id="syllabus-shell">La Terminal de Unix</h3>
    <ul>
        <li>Archivos y directorios</li>
        <li>Historia y completar paths</li>
        <li>Tuberías y redirección</li>
        <li>Looping sobre archivos</li>
        <li>Crear y ejecutar scripts de terminal</li>
        <li>Encontrar cosas</li>
      <li><a href="{{site.swc_pages}}/shell-novice-es/index.html">Referencia...</a></li>
    </ul>
  
  </div>

  <div class="col-md-4">

    <h3 id="syllabus-git">Control de versiones con Git</h3>
    <ul>
      <li>Crear un repositorio</li>
      <li>Rastreando Cambios: <code>add</code>, <code>commit</code>, ...</li>
      <li>Explorando el **History**: <code>status</code>, <code>diff</code>, ...</li>
      <li>Ignorando cosas</li>
      <li>Repositorios remotos en GitHub: <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
      <li>Trabajos en colaboración</li>
      <li>Resolving conflicts</li>
      <li>Conflictos</li>
      <li>Licencia</li>
      <li>Ejemplo de referencia o cita</li>
      <li><a href="{{site.swc_pages}}/git-novice-es/index.html">Referencia...</a></li>
    </ul>
  </div>
  
  <div class="col-md-4">
    <h3 id="syllabus-python">Python</h3>
    <ul>
      <li>Fundamentos de Python</li>
      <li>Analizando Datos</li>
      <li>Visualizando Datos</li>
      <li>Trabajando con Listas</li>
      <li>Repetiendo con Bucles</li>
      <li>Analizando Datos de Archivos Multiples</li>
      <li>Tomar Deciciones</li>
      <li>Creando Funciones</li>
      <li>Errores y Excepciones</li>
      <li>Programacion Defensiva</li>
      <li>Depurarando Codigo Python</li>
      <li>Ejecutando Desde Bash</li>
      <li><a href="{{site.swc_pages}}/python-novice-inflammation/index.html">Referencia...</a></li>
    </ul>
  </div>
  
</div>
