<div id="editor">
<h3>Editor de texto</h3>

<p>
Al escribir código, es útil tener un editor de texto optimizado, con funciones como la codificación automática por colores de palabras clave. El editor de texto predeterminado en macOS y Linux suele ser Vim, que no destaca por su intuitividad. Si te quedas atascado, pulsa <kbd>Esc</kbd>, seguido de <kbd>:</kbd>+<kbd>Q</kbd>+<kbd>!</kbd>
(dos puntos, 'q' minúscula, signo de exclamación) y, a continuación, pulsa <kbd>Intro</kbd> para volver a la consola. </p>

<div>
<ul class="nav nav-tabs" role="tablist">
<li role="presentation" class="active"><a data-os="windows" href="#editor-windows" aria-controls="Windows" role="tab" data-toggle="tab">Windows</a></li>
<li role="presentation"><a data-os="macos" href="#editor-macos" aria-controls="MacOS" role="tab" data-toggle="tab">MacOS</a></li>
<li role="presentation"><a data-os="linux" href="#editor-linux" aria-controls="Linux" role="tab" data-toggle="tab">Linux</a></li>

</ul>

<div class="tab-content">
<article role="tabpanel" class="tab-pane active" id="editor-windows">
<p>
nano es un editor básico y el predeterminado que usan los instructores en el taller.
Se instala junto con Git.
</p>
</article>
<article role="tabpanel" class="tab-pane" id="editor-macos">
<p>
nano es un editor básico y el predeterminado que usan los instructores en el taller.
Consulta el <a href="#editor-macos-video-tutorial">videotutorial</a> de instalación de Git para ver un ejemplo de cómo abrir nano.
Debería estar preinstalado. </p>
<h4 id="editor-macos-video-tutorial">Videotutorial</h4>
<div class="yt-wrapper2">
<div class="yt-wrapper">
<iframe type="text/html" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube-nocookie.com/embed/9LQhwETCdwY?modestbranding=1&playsinline=1&iv_load_policy=3&rel=0" class="yt-frame" allowfullscreen></iframe>
</div>
</div>
</article>
<article role="tabpanel" class="tab-pane" id="editor-linux">
<p>
nano es un editor básico y el predeterminado que usan los instructores en el taller.
Debe estar preinstalado. </p>
</article>
</div>
</div>
</div>