{% comment %}
Las instrucciones de configuración de Git se basan en las instrucciones de Shell. Si no incluye instrucciones de Shell en el sitio web de su taller, asegúrese de ajustar el texto a continuación como corresponda.
{% endcomment %}
<div id="git">
<h3>Git</h3>
<p>
Git es un sistema de control de versiones que permite rastrear quién realizó cambios, en qué y cuándo, y ofrece opciones para actualizar fácilmente una versión compartida o pública de su código en <a href="https://github.com/">github.com</a>. Necesitará un <a href="https://help.github.com/articles/supported-browsers/">navegador web compatible</a>.
</p>
<p>
Necesitará una cuenta en <a href="https://github.com/">github.com</a>
para partes de la lección de Git. Las cuentas básicas de GitHub son gratuitas. Te animamos a crear una cuenta de GitHub si aún no la tienes.
Considera qué información personal deseas revelar. Por ejemplo, puedes consultar estas <a href="https://help.github.com/articles/keeping-your-email-address-private/">instrucciones
para mantener la privacidad de tu dirección de correo electrónico</a> disponibles en GitHub. </p>

<div>
<ul class="nav nav-tabs" role="tablist">
<li role="presentation" class="active"><a data-os="windows" href="#git-windows" aria-controls="Windows" role="tab" data-toggle="tab">Windows</a></li>
<li role="presentation"><a data-os="macos" href="#git-macos" aria-controls="MacOS" role="tab" data-toggle="tab">MacOS</a></li>
<li role="presentation"><a data-os="linux" href="#git-linux" aria-controls="Linux" role="tab" data-toggle="tab">Linux</a></li>

</ul>

<div class="tab-content">
<article role="tabpanel" class="tab-pane active" id="git-windows">
<p>
Git debe estar instalado en tu ordenador como parte de la instalación de Bash (consulta las <a href="#shell">Instrucciones de instalación de Shell</a>).
</p>
</article>
<article role="tabpanel" class="tab-pane" id="git-macos">
<p>
Abre la aplicación Terminal, escribe <code>git --version</code> y pulsa <kbd>Intro</kbd>/<kbd>Retorno</kbd>. Si aún no está instalado, sigue las instrucciones para instalar las herramientas de desarrollo de línea de comandos. No hagas clic en "Obtener Xcode", ya que tardará demasiado y no es necesario para nuestra lección sobre Git.
Después de instalar estas herramientas, no habrá nada en la carpeta <code>/Applications</code>, ya que tanto ellas como Git son programas de línea de comandos. Para versiones anteriores de OS X (10.5-10.8), utilice el instalador más reciente disponible, denominado "snow-leopard".

<a href="http://sourceforge.net/projects/git-osx-installer/files/">disponible aquí</a>.
(Nota: Este proyecto ya no se mantiene).
Dado que este instalador no está firmado por el desarrollador, es posible que deba hacer clic con el botón derecho (Control + clic) en el archivo .pkg, hacer clic en Abrir y, a continuación, en Abrir en el cuadro de diálogo emergente. Puede ver <a href="https://www.youtube.com/watch?v=9LQhwETCdwY">un videotutorial sobre este caso</a>. </p>
<h4>Videotutorial</h4>
<div class="yt-wrapper2">
<div class="yt-wrapper">
<iframe type="text/html" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube-nocookie.com/embed/9LQhwETCdwY?modestbranding=1&playsinline=1&iv_load_policy=3&rel=0" class="yt-frame" allowfullscreen></iframe>
</div>
</div>
</article>
<article role="tabpanel" class="tab-pane" id="git-linux">
<p>
Si Git no está disponible en tu equipo, puedes intentar instalarlo a través del gestor de paquetes de tu distribución. Para Debian/Ubuntu, ejecute <code>sudo apt-get install git</code> y para Fedora, ejecute <code>sudo dnf install git</code>.
</p>
</article>
</div>
</div>
</div>