<div id="shell">
<h3>El shell Bash</h3>
<p>
Bash es un shell de uso común que permite realizar tareas con mayor rapidez. </p>

<div>
<ul class="nav nav-tabs" role="tablist">
<li role="presentation" class="active"><a data-os="windows" href="#shell-windows" aria-controls="Windows" role="tab" data-toggle="tab">Windows</a></li>
<li role="presentation"><a data-os="macos" href="#shell-macos" aria-controls="MacOS" role="tab" data-toggle="tab">MacOS</a></li>
<li role="presentation"><a data-os="linux" href="#shell-linux" aria-controls="Linux" role="tab" data-toggle="tab">Linux</a></li>

</ul>

<div class="tab-content">
<article role="tabpanel" class="tab-pane active" id="shell-windows">
<ol>
<li>Descarga el <a href="https://gitforwindows.org/">instalador</a> de Git para Windows.</li>
<li>Ejecuta el instalador y sigue los pasos a continuación:
<ol>
{% comment %} Configuración de Git 2.29.1 {% endcomment %}
<li>
Haz clic en "Siguiente" cuatro veces (dos si ya has instalado Git). No necesitas cambiar nada en las pantallas de Información, ubicación, componentes y menú de inicio.
</li>
<li>
<strong>
En el menú desplegable "Elegir el editor predeterminado usado por Git", selecciona "Usar el editor Nano por defecto" (NOTA: deberás desplazarte hacia arriba para encontrarlo) y haz clic en "Siguiente".

</strong>
</li>
{% comment %} Ajustar el nombre de la rama inicial en los nuevos repositorios {% endcomment %}
<li>
En la página "Ajustar el nombre de la rama inicial en los nuevos repositorios", asegúrate de que la opción "Dejar que Git decida" esté seleccionada. Esto garantizará la máxima compatibilidad para nuestras lecciones.
{% comment %}
Esta sección también incluye la opción "Anular el nombre de la rama predeterminada para los nuevos repositorios" y un cuadro de texto configurado como "principal". No estoy permitiendo que los usuarios cambien a esta opción todavía porque nuestra lección de Git aún utiliza el paradigma anterior.
{% endcomment %}
</li>
{% comment %} Ajustar el entorno PATH {% endcomment %}
<li>
Asegúrate de que la opción "Git desde la línea de comandos y también desde software de terceros" esté seleccionada y haz clic en "Siguiente". (Si no lo hace, Git Bash no funcionará correctamente, por lo que deberá eliminar la instalación de Git Bash, volver a ejecutar el instalador y seleccionar la opción "Git desde la línea de comandos y también desde software de terceros").
</li>
{% comment %} Seleccionar el ejecutable SSH {% endcomment %}
<li>
Seleccionar "Usar OpenSSH incluido".
</li>
{% comment %} Seleccionar el backend de transporte HTTPS {% endcomment %}
<li>
Asegúrese de que "Usar la biblioteca nativa de canal seguro de Windows" esté seleccionada y haga clic en "Siguiente".
</li>
{% comment %} Esto debería significar que las personas que se encuentran tras firewalls corporativos que realizan ataques MITM con su propia CA raíz aún pueden acceder a repositorios Git remotos. {% endcomment %}
{% comment %} Configuración de las conversiones de final de línea {% endcomment %}
<li>
Asegúrese de que la opción "Obtener finales de línea al estilo Windows, confirmar finales de línea al estilo Unix" esté seleccionada y haga clic en "Siguiente".
</li>
{% comment %} Configuración del emulador de terminal para usar con Git Bash {% endcomment %}
<li>
<strong>
Asegúrese de que la opción "Usar la ventana de consola predeterminada de Windows" esté seleccionada y haga clic en "Siguiente".

</strong>
</li>
{% comment %} Configurando opciones adicionales {% endcomment %}
<li>
Asegúrese de que la opción "Predeterminado (avance rápido o fusión)" esté seleccionada y haga clic en "Siguiente".
</li>
<li>
Asegúrese de que la opción "Administrador de credenciales de Git" esté seleccionada y haga clic en "Siguiente".
</li>
<li>
Asegúrese de que la opción "Habilitar caché del sistema de archivos" esté seleccionada y haga clic en "Siguiente".
</li>
{% comment %} Configurando opciones experimentales {% endcomment %}
<li>Haga clic en "Instalar".</li>
{% comment %} Instalando {% endcomment %}
{% comment %} Completando el asistente de configuración de Git {% endcomment %}
{% comment %} A partir del 2 de junio de 2020, la ventana indicará "Haga clic en Finalizar", pero el botón está etiquetado como "Siguiente". {% endcomment %}
<li>Haga clic en "Finalizar" o "Siguiente".</li>
</ol>
</li>
<li>
Si la variable de entorno "HOME" no está configurada (o no sabe cuál es):
<ol>
<li>Abra el símbolo del sistema (abra el menú Inicio, escriba <code>cmd</code> y presione <kbd>Intro</kbd>)</li>
<li>
Escriba la siguiente línea en la ventana del símbolo del sistema exactamente como se indica:
<p><code>setx HOME "%USERPROFILE%"</code></p>
</li>
<li>Presione <kbd>Intro</kbd>; debería ver <code>ÉXITO: ​​Se guardó el valor especificado</code></li>
<li>Salga del símbolo del sistema escribiendo <code>exit</code> y luego presionando <kbd>Intro</kbd></li>
</ol>
</li>
</ol>
<p>Esto le proporcionará Git y Bash en el programa Git Bash.</p>
<h4>Videotutorial</h4>
<div class="yt-wrapper2">
<div class="yt-wrapper">
<iframe type="text/html" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube-nocookie.com/embed/339AEqk9c-8?modestbranding=1&playsinline=1&iv_load_policy=3&rel=0" class="yt-frame" allowfullscreen></iframe>
</div>
</div>
</article>
<article role="tabpanel" class="tab-pane" id="shell-macos">
<p>
El shell predeterminado en Mac OS X Ventura y versiones posteriores es Zsh, pero Bash está disponible en todas las versiones, así que no es necesario instalar nada.
Se accede a Bash desde la Terminal (disponible en <code>/Aplicaciones/Utilidades</code>).
Consulta el <a href="#shell-macos-video-tutorial">videotutorial</a>
de instalación de Git para ver un ejemplo de cómo abrir la Terminal.
Te recomendamos mantener la Terminal en tu dock para este taller. </p>
<p>
Para comprobar si tu shell predeterminado es Bash, escribe <code>echo $SHELL</code> en la Terminal y pulsa la tecla <kbd>Intro</kbd>. Si el mensaje impreso no termina en '/bash', tu shell predeterminado es otro. Puedes cambiar tu shell actual a Bash escribiendo <code>bash</code> y pulsando <kbd>Intro</kbd>. Para comprobar tu shell actual, escribe <code>echo $0</code> y pulsa <kbd>Intro</kbd>.
</p>
<p>
Para cambiar tu shell predeterminado a Bash, escribe <code>chsh -s /bin/bash</code> y pulsa la tecla <kbd>Intro</kbd>. Luego, reinicia para que el cambio surta efecto. Para volver a cambiar a Zsh como predeterminado, escriba <code>chsh -s /bin/zsh</code>, presione la tecla <kbd>Retorno</kbd> y reinicie. Para comprobar los shells disponibles, escriba <code>cat /etc/shells</code>. </p>
<h4 id="shell-macos-video-tutorial">Videotutorial</h4>
<div class="yt-wrapper2">
<div class="yt-wrapper">
<iframe type="text/html" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube-nocookie.com/embed/9LQhwETCdwY?modestbranding=1&playsinline=1&iv_load_policy=3&rel=0" class="yt-frame" allowfullscreen></iframe>
</div>
</div>
</article>
<article role="tabpanel" class="tab-pane" id="shell-linux">
<p>
El shell predeterminado suele ser Bash y no suele ser necesario instalar nada.
</p>
<p>
Para comprobar si tu shell predeterminado es Bash, escribe <code>echo $SHELL</code> en la Terminal y pulsa la tecla <kbd>Intro</kbd>. Si el mensaje impreso no termina en '/bash', tu shell predeterminado es otro. Puedes cambiar tu shell actual a Bash escribiendo <code>bash</code> y pulsando <kbd>Intro</kbd>. Para comprobar tu shell actual, escribe <code>echo $0</code> y pulsa <kbd>Intro</kbd>.
</p>
<p>
Para cambiar tu shell predeterminado a Bash, escribe <code>chsh -s /bin/bash</code> y pulsa la tecla <kbd>Intro</kbd>. Luego, reinicia para que el cambio surta efecto. Para volver a cambiar a Zsh como predeterminado, escriba <code>chsh -s /bin/zsh</code>, presione la tecla <kbd>Intro</kbd> y reinicie. Para comprobar los shells disponibles, escriba <code>cat /etc/shells</code>.
</p>
</article>
</div>
</div>
</div>